body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, nav, footer {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
}

.main-action-area {
  transform: translateY(-50px);
}

.btn-lg.p-3 {
  border-radius: 20px;
  transition: all 0.3s ease;
  border: 5px solid rgba(255, 255, 255, 0.2);
}

.btn-lg.p-3:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2) !important;
}
